html {
	height: 100%;
}

body {
	font-family: arial;
	font-size: 13px;
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: helvetica;
	/*src: url(helvetica.otf);*/
	src: url(HelveticaNeue.ttf);
}

#root {
	background: black url(back.jpg) fixed 50% 50%;
	background-size: cover;
	min-height: 100%;
	min-width: 500px;
}

.h0 {
	font-size: 80px;
}
h1 {
	color: white;
	font-family: helvetica;
	font-size: 64px;
	letter-spacing: 3px;
	text-align: center;
	margin: 0;
	padding: 40px 0;
}
h1 a {
	color: inherit;
	outline: 0;
	text-decoration: none;
}

.page {
}

.content {
	background: white;
	border-radius: 2px;
	max-width: 1350px;
	margin: 0 auto;
	padding: 40px;
}

.menu {
	float: right;
}

.module-name {
	font-family: helvetica;
	font-size: 36px;
}
.module-date {
	color: gray;
	margin-top: 5px;
	margin-bottom: 40px;
}

.course-tiasers {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.course-tiaser {
	margin-right: 20px;
	margin-bottom: 30px;
	overflow: hidden;
	width: 420px;
}

.course-tiaser__img {	
	width: 420px;
	height: 280px;
	margin-bottom: 5px;
}
.course-tiaser ._img-1 { background: url(1.jpg); background-size: 420px; }
.course-tiaser ._img-2 { background: url(2.jpg); background-size: 420px; background-position: 0 -5px; }
.course-tiaser ._img-3 { background: url(3.jpg); background-size: 420px; }
.course-tiaser ._img-4 { background: url(4.jpg); background-size: 510px; background-position: -50px 0; }
.course-tiaser ._img-5 { background: url(5.jpg); background-size: 420px; }
.course-tiaser ._img-6 { background: url(6.jpg); background-size: 520px; background-position: -50px 0; }
.course-tiaser ._img-7 { background: url(7.jpg); background-size: 420px; }
.course-tiaser ._img-8 { background: url(8.jpg); background-size: 420px; }
.course-tiaser ._img-9 { background: url(9.jpg); background-size: 420px; }
.course-tiaser ._img-10 { background: url(10.jpg); background-size: 420px; }
.course-tiaser ._img-11 { background: url(11.jpg); background-size: 420px; }
.course-tiaser ._img-12 { background: url(12.jpg); background-size: 420px; }
.course-tiaser ._img-13 { background: url(13.jpg); background-size: 420px; background-position: 0 -45px; }
.course-tiaser ._img-14 { background: url(14.jpg); background-size: 420px; }

.course-tiaser__title {
	font-size: 22px;
}
.course-tiaser__price {
	color: orange;
	font-size: 22px;
	float: right;
}
.course-tiaser a {
	color: inherit;
	outline: 0;
	text-decoration: none;
}

.page-title,
.course-data__title,
.course-data__regged {
	font-family: helvetica;
	font-size: 36px;
}
.course-data__options {
	font-size: 20px;
	
}
.course-data__options span {
	border-bottom: 1px dashed gray;
	color: silver;
	cursor: pointer;
	display: inline-block;
	margin-right: 40px;
	margin-top: 20px;
}
.course-data__options span:hover {
	color: red;
	border-bottom: 1px dashed red;
}
.course-data__options span._selected {
	border-bottom: none;
	color: gray;
	cursor: default;
}
.course-data__details {
	font-size: 15px;
	line-height: 1.5;
	margin-top: 20px;
}
.course-data__reg {
	text-align: center;
	margin: 40px 0;
}

.btn {
	background: orange;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 24px;
	padding: 20px 50px;
	transition: opacity 0.2s ease, background 1s ease;
	user-select: none;
}
.btn:hover {
	opacity: 0.9;
}
.btn._secondary {
	background: #7cc0d0;
}
.btn._disabled {
	background: #e2e2e2;
	cursor: default;
}
.btn._size_s {
	font-size: 15px;
	padding: 10px 20px;
}
.btn a {
	color: inherit;
	outline: 0;
	text-decoration: none;
}

.sign-in__form {
	margin: 100px auto;
	text-align: center;
	width: 300px;
}

.form-field {
	border: 1px solid lightgray;
	font-size: 20px;
	outline: 0;
	padding: 10px;
	width: 300px;
}
.form-field::placeholder {
	color: silver;
}
._error {
	background: #ffe0e6;
	border: 1px solid red;
}

.my-courses {
	border-collapse: collapse;
	font-size: 15px;
	margin: 40px 0;
	width: 100%;
}
.my-courses tr {
	height: 60px;
}
.my-courses th, td {
	border: none;
	border-bottom: 1px solid lightgray;
	padding: 10px;
	text-align: left;
}
.my-courses__price {
	text-align: right;
}
.my-courses__action._done {
	color: gray;
	font-style: italic;
}
.pay,
.reject {
	margin-top: 20px;
	line-height: 1.5;
}
.pay__pict {
	max-width: 100%;
}

.reject__option label,
.reject__option input {
	cursor: pointer;
}
.reject__options {
	margin: 40px 0;
	text-align: center;
}

@media (max-width: 979px) {
	.h0 {
		font-size: 60px;
	}
	h1 {
		color: white;
		font-family: helvetica;
		font-size: 48px;
		letter-spacing: 3px;
		text-align: center;
		margin: 0;
		padding: 40px 0;
	}
	.content {
		max-width: 420px;
	}
	.course-tiaser {
		margin-right: 0;
	}
}
@media (min-width: 980px) and (max-width: 1500px) {
	.content {
		max-width: 880px;
	}
}